@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --max-width: 1200px;
}

body{
    font-family: "Fredoka", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.main__container{
    background-image: url(/assets/header.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 1rem;
    overflow: hidden;
}

.main__container .nav__logo img{
    max-width: 50px;
}

.main__container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main__container ul li a{
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.nav_links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}